$font-small: 12px;
$font-normal: 14px;
$font-medium: 16px;
$font-big: 20px;
$font-extrabig: 28px;

// Navigation
$navigation-font-basic: 16px;
$navigation-font-basic-submenu: 14px;

// Tabs
$tab-font-header: 16px;

// Accordion
$accordion-header: 16px;

// Breadcrumb
$breadcrumb-font: 14px;

// Link List
$link-list-title-font: 16px;
