$default-padding: 8px;
$default-inputs-padding: 12px 16px;
$extrasmall-margin-bottom: 4px;
$extrasmall-margin: 8px;
$small-margin: 16px;
$middle-margin: 24px;
$large-margin: 40px;
$extralarge-margin: 80px;
$small-padding: 16px;
$component-margin: 3rem;
