.quote {
  position: relative;
  padding: 2rem;
  border-left: 4px solid var(--bg-saturated);
  background-color: var(--bg-main);
  border-radius: 0 var(--roundness) var(--roundness) 0;

  .quote-icon {
    display: none;
  }

  &:not(.simple) {
    blockquote {
      padding-top: 0;
      line-height: 1.5;
      font-size: 1.25rem;
      font-weight: 500;
      color: var(--text-body);
    }

    .author-position {
      font-size: 0.875rem;
      opacity: 0.85;
      color: var(--text-colored);
    }
  }

  &.simple {
    blockquote {
      opacity: 1;
      font-style: italic;
      line-height: 1.6;
    }
  }

  .author-image {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 100%;
  }
}
