@import 'src/assets/sass/abstracts/mixins';
@import 'src/assets/sass/abstracts/vars';

.navigation {
  .button-nav-item a {
    @extend .button;
    @extend .button-main;
    font-size: 0.875rem;
    padding: 0.625rem 1.5rem;
  }

  ul {
    padding-left: 0;
  }

  .level0,
  .level1 {
    &:not(.button-nav-item) {
      > .navigation-title > a {
        font-size: $navigation-font-basic;
        font-weight: 500;
        color: var(--text-body);

        &:hover {
          text-decoration: none;
          color: var(--text-colored);
        }
      }
    }
  }

  li {
    &.submenu {
      margin-bottom: 0;
    }

    > .navigation-title {
      > a {
        text-decoration: none;
      }
    }

    > ul a {
      font-size: $navigation-font-basic-submenu;
    }
  }

  .submenu > ul {
    padding-left: 10px;
  }

  &.navigation-centered {
    .component-content ul li.level1:not(.button-nav-item) > .navigation-title > a {
      font-weight: 500;
    }

    @media (width > 992px) {
      > .menu-mobile-navigate-wrapper {
        width: 100%;

        > .component-content {
          width: 100%;
        }
      }

      li.level1.item0.first,
      li.button-nav-item {
        margin-left: auto;
      }
    }
  }
}

@import 'src/assets/sass/components/navigation/';
