@import 'src/assets/sass/abstracts/vars';

.header {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--bg-body);
  border-bottom: 1px solid var(--border-color);

  @include respond-to(mobile-large) {
    padding: 1rem $size-padding;
  }

  .rich-text,
  .navigation {
    padding: 0 !important;
  }
}

.site-financial .header,
.site-services .header {
  h1 {
    font-size: 1.5rem !important;
    line-height: 1.2 !important;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: 700;
    color: var(--text-body);
    letter-spacing: -0.02em;

    svg {
      width: 2rem;
      margin-right: 0.75rem;
    }
  }
}
