@import 'src/assets/sass/abstracts/mixins';
@import 'variables';

.body {
  font-family: var(--font-family);
  color: var(--text-body);
  background-color: var(--bg-body);
  transition: 0.4s;
}

@media (width >= 1400px) {
  .container {
    max-width: 1280px;
  }
}

.container.container-wide-fluid,
.container.container-widest-fluid {
  max-width: 100%;
}

@media (width >= 1920px) {
  .container.container-wide,
  .container.container-wide-fluid {
    max-width: 1440px;
  }
}

@media (width >= 1920px) {
  .container.container-widest,
  .container.container-widest-fluid {
    max-width: 1600px;
  }
}

main {
  .main-header {
    margin-top: 4rem;
    margin-bottom: 2rem;

    @include respond-to(mobile-large) {
      margin-bottom: 1rem;
    }

    h4 {
      font-size: $text-size-50;
      font-weight: 700;
      line-height: 1.1;
      letter-spacing: -0.03em;
    }
  }

  .main-news-header {
    margin-top: 4rem;

    h2 {
      font-size: $text-size-36;
      line-height: 1.2;
      font-weight: 700;
      letter-spacing: -0.02em;
    }
  }

  @include respond-to(mobile-large) {
    padding-top: 0;
    margin-bottom: 0;

    .main-header {
      margin-top: 2rem;

      h4 {
        font-size: $text-size-24;
        line-height: 1.2;
      }
    }

    .main-news-header {
      padding-bottom: 2rem;

      h2 {
        margin-top: 0;
        font-size: $text-size-24;
        line-height: 1.2;
      }
    }
  }
}
