@import 'src/assets/sass/abstracts/mixins';
@import 'variables';

footer {
  background-color: var(--bg-footer);
  color: var(--text-footer);

  @include respond-to(mobile-large) {
    padding: 0 $size-padding;
  }

  a {
    color: var(--text-colored);
    text-decoration: none;
    opacity: 1;
    transition: color 0.2s ease;

    &:hover {
      color: #0052a3;
      opacity: 1;
    }
  }
}
