@import 'src/assets/sass/abstracts/mixins';
@import 'src/assets/sass/abstracts/vars';

a {
  background-color: transparent;
  text-decoration: none;
  font-size: 1em;
  color: var(--text-colored);
  border-bottom: none;
  transition: color 0.2s ease;

  &:hover {
    color: #0052a3;
    text-decoration: none;
  }
}
