:root {
  --color-background: #ffffff;
  --color-background-accent: var(--color-primary-100);
  --color-background-surface: var(--color-primary-50);
  --color-foreground: #1a1a1a;
  --color-primary: #003DA5;
  --color-primary-foreground: #ffffff;
  --color-primary-background: #ebeff8;
  --color-primary-background-active: #d6e0f1;
  --color-primary-hover: #003898;
  --color-primary-active: #00338b;
  --color-secondary: #0077b3;
  --color-secondary-foreground: #ffffff;
  --color-secondary-background: #ebf4f9;
  --color-secondary-background-active: #d6e9f3;
  --color-secondary-hover: #006da5;
  --color-secondary-active: #006496;
  --color-muted: #f2f2f2;
  --color-muted-foreground: #6b6b6b;
  --color-muted-background: #ebebeb;
  --color-muted-background-active: #e3e3e3;
  --color-muted-hover: #e6e6e6;
  --color-muted-active: #dadada;
  --color-tertiary: #2862a4;
  --color-tertiary-foreground: #ffffff;
  --color-tertiary-background: #eef2f8;
  --color-tertiary-background-active: #dde6f0;
  --color-tertiary-hover: #255a97;
  --color-tertiary-active: #22528a;
  --color-accent: #ffff00;
  --color-accent-foreground: #0a0a0a;
  --color-accent-background: #ffffeb;
  --color-accent-background-active: #ffffd6;
  --color-accent-hover: #ebeb00;
  --color-accent-active: #d6d600;
  --color-accent-2: #8fd8f2;
  --color-accent-2-foreground: #0a0a0a;
  --color-accent-2-background: #f6fcfe;
  --color-accent-2-background-active: #edf9fd;
  --color-accent-2-hover: #84c7df;
  --color-accent-2-active: #78b5cb;
  --color-accent-3: var(--color-accent-3-500);
  --color-accent-3-foreground: var(--color-accent-3-600);
  --color-accent-3-background: var(--color-accent-3-100);
  --color-accent-3-background-active: var(--color-accent-3-200);
  --color-accent-3-hover: var(--color-accent-3-600);
  --color-accent-3-active: var(--color-accent-3-700);
  --color-info: #0077b3;
  --color-info-foreground: #ffffff;
  --color-info-hover: #006da5;
  --color-info-active: #006496;
  --color-info-background: #ebf4f9;
  --color-info-background-active: #d6e9f3;
  --color-success: #008000;
  --color-success-foreground: #ffffff;
  --color-success-hover: #007600;
  --color-success-active: #006c00;
  --color-success-background: #ebf5eb;
  --color-success-background-active: #d6ebd6;
  --color-warning: var(--color-warning-500);
  --color-warning-foreground: var(--color-warning-600);
  --color-warning-hover: var(--color-warning-600);
  --color-warning-active: var(--color-warning-700);
  --color-warning-background: var(--color-warning-100);
  --color-warning-background-active: var(--color-warning-200);
  --color-destructive: #cc0000;
  --color-destructive-foreground: #ffffff;
  --color-destructive-hover: #bc0000;
  --color-destructive-active: #ab0000;
  --color-destructive-background: #fbebeb;
  --color-destructive-background-active: #f7d6d6;
  --color-neutral: var(--color-neutral-500);
  --color-neutral-foreground: var(--color-neutral-600);
  --color-neutral-hover: var(--color-neutral-600);
  --color-neutral-active: var(--color-neutral-700);
  --color-neutral-background: var(--color-neutral-100);
  --color-neutral-background-active: var(--color-neutral-200);
  --color-chart-1: var(--color-purple-500);
  --color-chart-2: var(--color-cyan-500);
  --color-chart-3: var(--color-orange-500);
  --color-chart-4: var(--color-blue-500);
  --color-chart-5: var(--color-purple-500);
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-overlay: var(--color-blackAlpha-500);
  --color-inverse-text: var(--color-white);
  --background-image-gradient: linear-gradient(
    135deg,
    var(--color-primary-400) 0%,
    var(--color-blue-500) 50%,
    var(--color-purple-500) 100%
  );
  --background-image-gradient-secondary: linear-gradient(
    90deg,
    var(--color-cyan-200) 0%,
    var(--color-blue-200) 50%,
    var(--color-purple-200) 100%
  );
  --background-image-sound-waves: repeating-linear-gradient(
    90deg,
    var(--color-blackAlpha-200) 0,
    var(--color-blackAlpha-200) 6px,
    transparent 6px,
    transparent 14px
  );
  --color-neutral-50: #f8f6f3;
  --color-neutral-100: #eee9e3;
  --color-neutral-200: #e0d7cf;
  --color-neutral-300: #c6b9ad;
  --color-neutral-400: #a08f83;
  --color-neutral-500: #7f7066;
  --color-neutral-600: #5f534a;
  --color-neutral-700: #3f362f;
  --color-neutral-800: #2b241f;
  --color-neutral-900: #211b16;
  --color-gray-50: #f7f7f7;
  --color-gray-100: #e9e9e9;
  --color-gray-200: #d8d8d8;
  --color-gray-300: #b5b5b5;
  --color-gray-400: #8e8e8e;
  --color-gray-500: #717171;
  --color-gray-600: #535353;
  --color-gray-700: #3b3b3b;
  --color-gray-800: #282828;
  --color-gray-900: #212121;
  --color-primary-50: #e3eeff;
  --color-primary-100: #b3cfff;
  --color-primary-200: #7cacff;
  --color-primary-300: #4187ff;
  --color-primary-400: #005bf8;
  --color-primary-500: #003da5;
  --color-primary-600: #003695;
  --color-primary-700: #003084;
  --color-primary-800: #002a74;
  --color-primary-900: #002360;
  --color-blue-50: #f4f7ff;
  --color-blue-100: #e1eaff;
  --color-blue-200: #c9d8ff;
  --color-blue-300: #9cb3fd;
  --color-blue-400: #6987f9;
  --color-blue-500: #4a65e8;
  --color-blue-600: #344bc3;
  --color-blue-700: #293ba1;
  --color-blue-800: #1f2d7f;
  --color-blue-900: #16215f;
  --color-cyan-50: #eafaff;
  --color-cyan-100: #c6f1ff;
  --color-cyan-200: #a0e3fd;
  --color-cyan-300: #5cc0f1;
  --color-cyan-400: #2695de;
  --color-cyan-500: #0873c8;
  --color-cyan-600: #0059a1;
  --color-cyan-700: #004783;
  --color-cyan-800: #003767;
  --color-cyan-900: #00294d;
  --color-green-50: #e8fcf5;
  --color-green-100: #bef6e3;
  --color-green-200: #8bebd0;
  --color-green-300: #44cbac;
  --color-green-400: #0ea184;
  --color-green-500: #007f66;
  --color-green-600: #006450;
  --color-green-700: #085040;
  --color-green-800: #0d3e31;
  --color-green-900: #0f2d25;
  --color-teal-50: #e7fbfb;
  --color-teal-100: #bbf4f3;
  --color-teal-200: #8be9e8;
  --color-teal-300: #3cc8cb;
  --color-teal-400: #019ea5;
  --color-teal-500: #007c85;
  --color-teal-600: #00626b;
  --color-teal-700: #0a4e57;
  --color-teal-800: #103b44;
  --color-teal-900: #102c33;
  --color-yellow-50: #fdf8d2;
  --color-yellow-100: #faec79;
  --color-yellow-200: #f8d904;
  --color-yellow-300: #d7b300;
  --color-yellow-400: #ae8a00;
  --color-yellow-500: #8b6b00;
  --color-yellow-600: #705300;
  --color-yellow-700: #5b4300;
  --color-yellow-800: #483300;
  --color-yellow-900: #362500;
  --color-orange-50: #fff6e7;
  --color-orange-100: #ffe6bd;
  --color-orange-200: #fdd291;
  --color-orange-300: #ffa037;
  --color-orange-400: #e26e00;
  --color-orange-500: #ba5200;
  --color-orange-600: #953d00;
  --color-orange-700: #7a2f00;
  --color-orange-800: #612300;
  --color-orange-900: #491901;
  --color-red-50: #fff5f4;
  --color-red-100: #ffe4e2;
  --color-red-200: #ffccc8;
  --color-red-300: #ff9a94;
  --color-red-400: #f4595a;
  --color-red-500: #d92739;
  --color-red-600: #b30426;
  --color-red-700: #92001f;
  --color-red-800: #730019;
  --color-red-900: #580113;
  --color-pink-50: #fff4fe;
  --color-pink-100: #ffe2fb;
  --color-pink-200: #fec7f8;
  --color-pink-300: #f592f3;
  --color-pink-400: #de53e0;
  --color-pink-500: #bc29bd;
  --color-pink-600: #9d039e;
  --color-pink-700: #800081;
  --color-pink-800: #640664;
  --color-pink-900: #470e46;
  --color-purple-50: #f7f6ff;
  --color-purple-100: #eae7ff;
  --color-purple-200: #d9d4ff;
  --color-purple-300: #b8a9ff;
  --color-purple-400: #9373ff;
  --color-purple-500: #6e3fff;
  --color-purple-600: #5319e0;
  --color-purple-700: #4715af;
  --color-purple-800: #401791;
  --color-purple-900: #2f1469;
  --color-success-50: #e0ffe0;
  --color-success-100: #abffab;
  --color-success-200: #6eff6e;
  --color-success-300: #2dff2d;
  --color-success-400: #00dc00;
  --color-success-500: #008000;
  --color-success-600: #007300;
  --color-success-700: #006600;
  --color-success-800: #005a00;
  --color-success-900: #004a00;
  --color-warning-50: var(--color-orange-50);
  --color-warning-100: var(--color-orange-100);
  --color-warning-200: var(--color-orange-200);
  --color-warning-300: var(--color-orange-300);
  --color-warning-400: var(--color-orange-400);
  --color-warning-500: var(--color-orange-500);
  --color-warning-600: var(--color-orange-600);
  --color-warning-700: var(--color-orange-700);
  --color-warning-800: var(--color-orange-800);
  --color-warning-900: var(--color-orange-900);
  --color-info-50: #e5f6ff;
  --color-info-100: #b6e7ff;
  --color-info-200: #81d5ff;
  --color-info-300: #49c2ff;
  --color-info-400: #03abff;
  --color-info-500: #0077b3;
  --color-info-600: #006ba1;
  --color-info-700: #005f8f;
  --color-info-800: #00547d;
  --color-info-900: #004568;
  --color-destructive-50: #ffe7e7;
  --color-destructive-100: #ffbcbc;
  --color-destructive-200: #ff8b8b;
  --color-destructive-300: #ff5757;
  --color-destructive-400: #ff1616;
  --color-destructive-500: #cc0000;
  --color-destructive-600: #b80000;
  --color-destructive-700: #a30000;
  --color-destructive-800: #8f0000;
  --color-destructive-900: #760000;
  --color-accent-50: #ffffeb;
  --color-accent-100: #ffffc7;
  --color-accent-200: #ffff9e;
  --color-accent-300: #ffff73;
  --color-accent-400: #ffff3d;
  --color-accent-500: #ffff00;
  --color-accent-600: #e5e600;
  --color-accent-700: #cccc00;
  --color-accent-800: #b2b300;
  --color-accent-900: #949400;
  --color-accent-2-50: #f6fcfe;
  --color-accent-2-100: #e6f6fc;
  --color-accent-2-200: #d4f0fa;
  --color-accent-2-300: #c1e9f8;
  --color-accent-2-400: #aae1f5;
  --color-accent-2-500: #8fd8f2;
  --color-accent-2-600: #6dcbee;
  --color-accent-2-700: #4abfea;
  --color-accent-2-800: #28b3e6;
  --color-accent-2-900: #1799c8;
  --color-accent-3-50: var(--color-pink-50);
  --color-accent-3-100: var(--color-pink-100);
  --color-accent-3-200: var(--color-pink-200);
  --color-accent-3-300: var(--color-pink-300);
  --color-accent-3-400: var(--color-pink-400);
  --color-accent-3-500: var(--color-pink-500);
  --color-accent-3-600: var(--color-pink-600);
  --color-accent-3-700: var(--color-pink-700);
  --color-accent-3-800: var(--color-pink-800);
  --color-accent-3-900: var(--color-pink-900);
  --color-secondary-50: #e5f6ff;
  --color-secondary-100: #b6e7ff;
  --color-secondary-200: #81d5ff;
  --color-secondary-300: #49c2ff;
  --color-secondary-400: #03abff;
  --color-secondary-500: #0077b3;
  --color-secondary-600: #006ba1;
  --color-secondary-700: #005f8f;
  --color-secondary-800: #00547d;
  --color-secondary-900: #004568;
  --color-tertiary-50: #ebf2fa;
  --color-tertiary-100: #c9dcf2;
  --color-tertiary-200: #a2c3e8;
  --color-tertiary-300: #78a7de;
  --color-tertiary-400: #4486d1;
  --color-tertiary-500: #2862a4;
  --color-tertiary-600: #245894;
  --color-tertiary-700: #204e83;
  --color-tertiary-800: #1c4573;
  --color-tertiary-900: #17395f;
  --color-blackAlpha-50: rgba(0, 0, 0, 0.04);
  --color-blackAlpha-100: rgba(0, 0, 0, 0.06);
  --color-blackAlpha-200: rgba(0, 0, 0, 0.11);
  --color-blackAlpha-300: rgba(0, 0, 0, 0.29);
  --color-blackAlpha-400: rgba(0, 0, 0, 0.42);
  --color-blackAlpha-500: rgba(0, 0, 0, 0.55);
  --color-blackAlpha-600: rgba(0, 0, 0, 0.68);
  --color-blackAlpha-700: rgba(0, 0, 0, 0.76);
  --color-blackAlpha-800: rgba(0, 0, 0, 0.78);
  --color-blackAlpha-900: rgba(0, 0, 0, 0.94);
  --color-whiteAlpha-50: rgba(255, 255, 255, 0.04);
  --color-whiteAlpha-100: rgba(255, 255, 255, 0.06);
  --color-whiteAlpha-200: rgba(255, 255, 255, 0.11);
  --color-whiteAlpha-300: rgba(255, 255, 255, 0.29);
  --color-whiteAlpha-400: rgba(255, 255, 255, 0.42);
  --color-whiteAlpha-500: rgba(255, 255, 255, 0.55);
  --color-whiteAlpha-600: rgba(255, 255, 255, 0.68);
  --color-whiteAlpha-700: rgba(255, 255, 255, 0.76);
  --color-whiteAlpha-800: rgba(255, 255, 255, 0.78);
  --color-whiteAlpha-900: rgba(255, 255, 255, 0.94);
}

.dark {
  --color-background: #001a4d;
  --color-background-accent: var(--color-primary-800);
  --color-background-surface: var(--color-gray-800);
  --color-foreground: #ffffff;
  --color-primary: #3366cc;
  --color-primary-foreground: #ffffff;
  --color-primary-background: #0f1f3d;
  --color-primary-background-active: #172e5c;
  --color-primary-hover: #4b78d2;
  --color-primary-active: #6088d7;
  --color-secondary: #3399cc;
  --color-secondary-foreground: #0a0a0a;
  --color-secondary-background: #0f2e3d;
  --color-secondary-background-active: #17455c;
  --color-secondary-hover: #4ba5d2;
  --color-secondary-active: #60afd7;
  --color-muted: #1f3562;
  --color-muted-foreground: #a4a4a4;
  --color-muted-background: #2a3f6a;
  --color-muted-background-active: #354972;
  --color-muted-hover: #31456f;
  --color-muted-active: #41537a;
  --color-tertiary: #487ab2;
  --color-tertiary-foreground: #ffffff;
  --color-tertiary-background: #162535;
  --color-tertiary-background-active: #203750;
  --color-tertiary-hover: #5e8abb;
  --color-tertiary-active: #7097c3;
  --color-accent: #ffff33;
  --color-accent-foreground: #0a0a0a;
  --color-accent-background: #4d4d0f;
  --color-accent-background-active: #737317;
  --color-accent-hover: #ffff4b;
  --color-accent-active: #ffff60;
  --color-accent-2: #97dbf3;
  --color-accent-2-foreground: #0a0a0a;
  --color-accent-2-background: #2d4249;
  --color-accent-2-background-active: #44636d;
  --color-accent-2-hover: #a3dff4;
  --color-accent-2-active: #aee3f6;
  --color-accent-3: var(--color-accent-3-200);
  --color-accent-3-foreground: var(--color-accent-3-300);
  --color-accent-3-background: var(--color-accent-3-100);
  --color-accent-3-background-active: var(--color-accent-3-200);
  --color-accent-3-hover: var(--color-accent-3-300);
  --color-accent-3-active: var(--color-accent-3-400);
  --color-info: #268bbe;
  --color-info-foreground: #ffffff;
  --color-info-hover: #4099c6;
  --color-info-active: #56a5cc;
  --color-info-background: #0b2a39;
  --color-info-background-active: #113f55;
  --color-success: #269326;
  --color-success-foreground: #ffffff;
  --color-success-hover: #40a040;
  --color-success-active: #56ab56;
  --color-success-background: #0b2c0b;
  --color-success-background-active: #114211;
  --color-warning: var(--color-warning-200);
  --color-warning-foreground: var(--color-warning-200);
  --color-warning-hover: var(--color-warning-300);
  --color-warning-active: var(--color-warning-400);
  --color-warning-background: color-mix(
    in srgb,
    var(--color-warning-200) 12%,
    transparent
  );
  --color-warning-background-active: color-mix(
    in srgb,
    var(--color-warning-200) 24%,
    transparent
  );
  --color-destructive: #d42626;
  --color-destructive-foreground: #ffffff;
  --color-destructive-hover: #d94040;
  --color-destructive-active: #dd5656;
  --color-destructive-background: #400b0b;
  --color-destructive-background-active: #5f1111;
  --color-neutral: var(--color-neutral-200);
  --color-neutral-foreground: var(--color-neutral-300);
  --color-neutral-hover: var(--color-neutral-300);
  --color-neutral-active: var(--color-neutral-400);
  --color-neutral-background: var(--color-neutral-100);
  --color-neutral-background-active: var(--color-neutral-200);
  --color-chart-1: var(--color-purple-500);
  --color-chart-2: var(--color-blue-500);
  --color-chart-3: var(--color-cyan-500);
  --color-chart-4: var(--color-teal-500);
  --color-chart-5: var(--color-green-500);
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-overlay: var(--color-blackAlpha-700);
  --color-inverse-text: var(--color-blackAlpha-900);
  --background-image-gradient: linear-gradient(
    135deg,
    var(--color-primary-600) 0%,
    var(--color-blue-700) 50%,
    var(--color-purple-700) 100%
  );
  --background-image-gradient-secondary: linear-gradient(
    90deg,
    color-mix(in srgb, var(--color-primary-500) 20%, transparent) 0%,
    color-mix(in srgb, var(--color-blue-600) 25%, transparent) 50%,
    color-mix(in srgb, var(--color-blue-800) 35%, transparent) 100%
  );
  --background-image-sound-waves: repeating-linear-gradient(
    90deg,
    var(--color-whiteAlpha-200) 0,
    var(--color-whiteAlpha-200) 6px,
    transparent 6px,
    transparent 14px
  );
  --color-neutral-50: #f8f6f3;
  --color-neutral-100: #eee9e3;
  --color-neutral-200: #e0d7cf;
  --color-neutral-300: #c6b9ad;
  --color-neutral-400: #a08f83;
  --color-neutral-500: #7f7066;
  --color-neutral-600: #5f534a;
  --color-neutral-700: #3f362f;
  --color-neutral-800: #2b241f;
  --color-neutral-900: #211b16;
  --color-gray-50: #f7f7f7;
  --color-gray-100: #e9e9e9;
  --color-gray-200: #d8d8d8;
  --color-gray-300: #b5b5b5;
  --color-gray-400: #8e8e8e;
  --color-gray-500: #717171;
  --color-gray-600: #535353;
  --color-gray-700: #3b3b3b;
  --color-gray-800: #282828;
  --color-gray-900: #212121;
  --color-primary-50: #eff3fb;
  --color-primary-100: #d2ddf4;
  --color-primary-200: #b1c5ec;
  --color-primary-300: #8fabe3;
  --color-primary-400: #648bd8;
  --color-primary-500: #3366cc;
  --color-primary-600: #2e5cb8;
  --color-primary-700: #2952a3;
  --color-primary-800: #24478f;
  --color-primary-900: #1e3b76;
  --color-blue-50: #f4f7ff;
  --color-blue-100: #e1eaff;
  --color-blue-200: #c9d8ff;
  --color-blue-300: #9cb3fd;
  --color-blue-400: #6987f9;
  --color-blue-500: #4a65e8;
  --color-blue-600: #344bc3;
  --color-blue-700: #293ba1;
  --color-blue-800: #1f2d7f;
  --color-blue-900: #16215f;
  --color-cyan-50: #eafaff;
  --color-cyan-100: #c6f1ff;
  --color-cyan-200: #a0e3fd;
  --color-cyan-300: #5cc0f1;
  --color-cyan-400: #2695de;
  --color-cyan-500: #0873c8;
  --color-cyan-600: #0059a1;
  --color-cyan-700: #004783;
  --color-cyan-800: #003767;
  --color-cyan-900: #00294d;
  --color-green-50: #e8fcf5;
  --color-green-100: #bef6e3;
  --color-green-200: #8bebd0;
  --color-green-300: #44cbac;
  --color-green-400: #0ea184;
  --color-green-500: #007f66;
  --color-green-600: #006450;
  --color-green-700: #085040;
  --color-green-800: #0d3e31;
  --color-green-900: #0f2d25;
  --color-teal-50: #e7fbfb;
  --color-teal-100: #bbf4f3;
  --color-teal-200: #8be9e8;
  --color-teal-300: #3cc8cb;
  --color-teal-400: #019ea5;
  --color-teal-500: #007c85;
  --color-teal-600: #00626b;
  --color-teal-700: #0a4e57;
  --color-teal-800: #103b44;
  --color-teal-900: #102c33;
  --color-yellow-50: #fdf8d2;
  --color-yellow-100: #faec79;
  --color-yellow-200: #f8d904;
  --color-yellow-300: #d7b300;
  --color-yellow-400: #ae8a00;
  --color-yellow-500: #8b6b00;
  --color-yellow-600: #705300;
  --color-yellow-700: #5b4300;
  --color-yellow-800: #483300;
  --color-yellow-900: #362500;
  --color-orange-50: #fff6e7;
  --color-orange-100: #ffe6bd;
  --color-orange-200: #fdd291;
  --color-orange-300: #ffa037;
  --color-orange-400: #e26e00;
  --color-orange-500: #ba5200;
  --color-orange-600: #953d00;
  --color-orange-700: #7a2f00;
  --color-orange-800: #612300;
  --color-orange-900: #491901;
  --color-red-50: #fff5f4;
  --color-red-100: #ffe4e2;
  --color-red-200: #ffccc8;
  --color-red-300: #ff9a94;
  --color-red-400: #f4595a;
  --color-red-500: #d92739;
  --color-red-600: #b30426;
  --color-red-700: #92001f;
  --color-red-800: #730019;
  --color-red-900: #580113;
  --color-pink-50: #fff4fe;
  --color-pink-100: #ffe2fb;
  --color-pink-200: #fec7f8;
  --color-pink-300: #f592f3;
  --color-pink-400: #de53e0;
  --color-pink-500: #bc29bd;
  --color-pink-600: #9d039e;
  --color-pink-700: #800081;
  --color-pink-800: #640664;
  --color-pink-900: #470e46;
  --color-purple-50: #f7f6ff;
  --color-purple-100: #eae7ff;
  --color-purple-200: #d9d4ff;
  --color-purple-300: #b8a9ff;
  --color-purple-400: #9373ff;
  --color-purple-500: #6e3fff;
  --color-purple-600: #5319e0;
  --color-purple-700: #4715af;
  --color-purple-800: #401791;
  --color-purple-900: #2f1469;
  --color-success-50: #eafaea;
  --color-success-100: #c6f0c6;
  --color-success-200: #9de69d;
  --color-success-300: #71da71;
  --color-success-400: #3bcc3b;
  --color-success-500: #269326;
  --color-success-600: #228422;
  --color-success-700: #1e761e;
  --color-success-800: #1b671b;
  --color-success-900: #165516;
  --color-warning-50: var(--color-orange-50);
  --color-warning-100: var(--color-orange-100);
  --color-warning-200: var(--color-orange-200);
  --color-warning-300: var(--color-orange-300);
  --color-warning-400: var(--color-orange-400);
  --color-warning-500: var(--color-orange-500);
  --color-warning-600: var(--color-orange-600);
  --color-warning-700: var(--color-orange-700);
  --color-warning-800: var(--color-orange-800);
  --color-warning-900: var(--color-orange-900);
  --color-info-50: #ecf6fb;
  --color-info-100: #cbe7f5;
  --color-info-200: #a6d5ed;
  --color-info-300: #7ec3e5;
  --color-info-400: #4cacdb;
  --color-info-500: #268bbe;
  --color-info-600: #227dab;
  --color-info-700: #1e6f98;
  --color-info-800: #1b6285;
  --color-info-900: #16516e;
  --color-destructive-50: #fceded;
  --color-destructive-100: #f6cece;
  --color-destructive-200: #f0abab;
  --color-destructive-300: #e98686;
  --color-destructive-400: #e15757;
  --color-destructive-500: #d42626;
  --color-destructive-600: #bf2222;
  --color-destructive-700: #aa1e1e;
  --color-destructive-800: #941b1b;
  --color-destructive-900: #7b1616;
  --color-accent-50: #ffffef;
  --color-accent-100: #ffffd2;
  --color-accent-200: #ffffb1;
  --color-accent-300: #ffff8f;
  --color-accent-400: #ffff64;
  --color-accent-500: #ffff33;
  --color-accent-600: #ffff14;
  --color-accent-700: #f5f500;
  --color-accent-800: #d6d600;
  --color-accent-900: #b1b100;
  --color-accent-2-50: #f7fcfe;
  --color-accent-2-100: #e8f7fc;
  --color-accent-2-200: #d7f1fa;
  --color-accent-2-300: #c6ebf8;
  --color-accent-2-400: #b0e3f6;
  --color-accent-2-500: #97dbf3;
  --color-accent-2-600: #74ceef;
  --color-accent-2-700: #50c2eb;
  --color-accent-2-800: #2db5e7;
  --color-accent-2-900: #189dcd;
  --color-accent-3-50: var(--color-pink-50);
  --color-accent-3-100: var(--color-pink-100);
  --color-accent-3-200: var(--color-pink-200);
  --color-accent-3-300: var(--color-pink-300);
  --color-accent-3-400: var(--color-pink-400);
  --color-accent-3-500: var(--color-pink-500);
  --color-accent-3-600: var(--color-pink-600);
  --color-accent-3-700: var(--color-pink-700);
  --color-accent-3-800: var(--color-pink-800);
  --color-accent-3-900: var(--color-pink-900);
  --color-secondary-50: #eff7fb;
  --color-secondary-100: #d2e9f4;
  --color-secondary-200: #b1d8ec;
  --color-secondary-300: #8fc7e3;
  --color-secondary-400: #64b1d8;
  --color-secondary-500: #3399cc;
  --color-secondary-600: #2e8ab8;
  --color-secondary-700: #297aa3;
  --color-secondary-800: #246b8f;
  --color-secondary-900: #1e5976;
  --color-tertiary-50: #f0f4f9;
  --color-tertiary-100: #d6e2ef;
  --color-tertiary-200: #b9cce3;
  --color-tertiary-300: #99b5d6;
  --color-tertiary-400: #7299c6;
  --color-tertiary-500: #487ab2;
  --color-tertiary-600: #416da0;
  --color-tertiary-700: #3a618e;
  --color-tertiary-800: #32557d;
  --color-tertiary-900: #2a4667;
  --color-blackAlpha-50: rgba(0, 0, 0, 0.04);
  --color-blackAlpha-100: rgba(0, 0, 0, 0.06);
  --color-blackAlpha-200: rgba(0, 0, 0, 0.11);
  --color-blackAlpha-300: rgba(0, 0, 0, 0.29);
  --color-blackAlpha-400: rgba(0, 0, 0, 0.42);
  --color-blackAlpha-500: rgba(0, 0, 0, 0.55);
  --color-blackAlpha-600: rgba(0, 0, 0, 0.68);
  --color-blackAlpha-700: rgba(0, 0, 0, 0.76);
  --color-blackAlpha-800: rgba(0, 0, 0, 0.78);
  --color-blackAlpha-900: rgba(0, 0, 0, 0.94);
  --color-whiteAlpha-50: rgba(255, 255, 255, 0.04);
  --color-whiteAlpha-100: rgba(255, 255, 255, 0.06);
  --color-whiteAlpha-200: rgba(255, 255, 255, 0.11);
  --color-whiteAlpha-300: rgba(255, 255, 255, 0.29);
  --color-whiteAlpha-400: rgba(255, 255, 255, 0.42);
  --color-whiteAlpha-500: rgba(255, 255, 255, 0.55);
  --color-whiteAlpha-600: rgba(255, 255, 255, 0.68);
  --color-whiteAlpha-700: rgba(255, 255, 255, 0.76);
  --color-whiteAlpha-800: rgba(255, 255, 255, 0.78);
  --color-whiteAlpha-900: rgba(255, 255, 255, 0.94);
}
