@import 'src/assets/sass/abstracts/vars/colors';
@import 'src/assets/sass/abstracts/mixins';
@import 'variables';

.prod-mode {
  #header {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-bottom: 1px solid var(--border-color, #d8d8d8);

    @include respond-to(mobile-large) {
      padding-bottom: 0;
    }
  }
}

header {
  background-color: transparent;
  border-bottom: none;

  #header {
    .bs-title {
      a {
        text-decoration: none;
      }

      h1 {
        font-size: $text-size-24;
        font-weight: 700;
        line-height: 1;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: 0;
        color: var(--text-body, #53565a);
        text-transform: none;
      }
    }

    @include respond-to(mobile-large) {
      padding-bottom: 0;

      .bs-title {
        padding-top: 0.5rem;
        padding-left: 0;
        text-align: left;
        margin-top: 0;

        h1 {
          font-weight: 700;
          line-height: 1;
          padding-top: 0;
          margin-bottom: 0;
        }
      }
    }

    .header a {
      text-decoration: none;
    }
  }
}
